body{
	margin: 0px;
	background-image: url(../img/back.jpg);
	background-position: center; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: 100%;
	font-family: "Roboto", Arial, Sans-Serif;
}

a:-webkit-any-link{
  text-decoration: none;
}

hr{
  width: 80%;
  margin-bottom: 30px;
  
}
.container{
	width: 80%;
  margin: 0 auto;
}

.container ul li{
  color: #0E667F;
}
.container img{
  width: 55%;
  max-width: 200px;
  margin:inherit;
  display: block;
  padding-bottom: 10px;
}

@media (min-device-width : 480px){
  #LEY .container img{
  display: inline-block;
  width: 33%;
  margin-left: 0px;
  margin-right: auto;
  vertical-align: top;
}
}

@media (min-device-width : 480px){
  #LEY .container p{
  display: inline-block;
  padding-left: 300px;
  margin-top: -50px;
}
}

@media (min-device-width : 480px){
  #LEY h4{
  display: inline-block;
  margin-left: 0px;
  margin-right: auto;
  padding-left: 30px;
  padding-top: 90px !important;
  max-width: 55%;
  text-align: left;
}
}

@media (min-device-width : 480px){
  hr{
    display: none;
  }
}



.container p{
  padding-bottom: 20px;
}

.fav{
  margin: inherit;
}

.con{
  margin: inherit;
}

.sign{
  font-style: italic;
  font-weight: 100;
  text-align: right;
  padding-bottom: 60px;
  max-width: 200px;
  margin-right: 0px;
  margin-left: auto;
}

.sign a{
  text-decoration: none;
  color: #cccccc;
}

.doc-container{
  max-width: 500px;
  margin: 0 auto;
}

.col-2{
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 150px;
  text-align: center;
}
.col-2 a{
  max-width: 100%;
  font-weight: 50;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  color: #cccccc;
}

.col-2 a:hover{
  color: #fff;
}
.col-2 a:visited{
  max-width: 100%;
  font-weight: 50;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  color: #cccccc;
}
.col-2 a:visited:hover{
  color:#fff;
}

.col-2 img{
  display: block;
  margin: 0 auto;
  width: 100px;
  max-width: 100px;
  padding-bottom: 20px;
}

.percent p{
  width: 100%;
  text-align: center;
}
.percent img{
  width: 55%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

@media (min-device-width : 480px){
  .percent p{
  padding: 50px 0px 0px 0px !important;
}
}

@media (min-device-width : 480px){
  .row{
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
}

@media (min-device-width : 480px){
  .row img{
  width: 100% !important;
}
}

@media (min-device-width : 480px){
  #PROYECTO img{
  padding-bottom: 30px;
}
}

@media (min-device-width : 480px){
  #PROYECTO h4{
  padding-bottom: 30px;
}
}

.jumbotron{
	color: #FFF;
	margin-top: 200px; 
	width: 100%;
	background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 0px;
}
.jumbotron .h1{
	color: #FFF;
  text-align: center;
  
}
.jumbotron p{
  font-weight: 100;
  text-align: center;
  width: 98%;
  line-height: 160%;
}

.row{
  width: 100%;
}

header{
	width: 100%;
	top: 0px;
	position: fixed;
}

h1{
	text-align: center;
}
h2{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
  font-weight: 400;
}
h3{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
}
h4{
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  text-align: center;
}
p{
  font-size: 16px;
  font-weight: 200;
  line-height: 180%;
}

.section{
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;

}

@media (max-device-width : 480px){
  #DOCS{
    display: none;
  }

}

.blk{
	background-color: #000;
  padding-bottom: 100px;
}
.blk h2{
  color: #FFF;
}
.blk p{
	color: #FFF;
}

.gr{
	background-color: #F0F0F0;
}

.gr p{
	color: #000;
}

.mov-nav{
	width: 98%;
	margin: 0 auto;

}

/*Dropdown menú*/
.dropdown ul{
	background-color: #222222;
 	color: #cccccc;
}


button {
  overflow: visible;
  width: 100%;
  background: #222222; 
  color: #cccccc;
  outline: none;
  border-style: solid;
  border-radius: 5px;
  border-width: 0px; 
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

button:hover{
	color:#fff;
	background:#333333;
}


button{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.dropdown a {
  color: #428bca;
  text-decoration: none;
}
.dropdown a:hover,
.dropdown a:focus {
  color: #cccccc;
  text-decoration: none;
}
/* ícono de triángulo dropdown */
.icon {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.ball{
  display: inline-block;
  width: 7px;
  height: 7px;
  vertical-align: middle;
  border-radius: 7px;
  background-color: #000;
}

/*Contenedor del dropdown*/
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
	width: 100%;
	text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
 
  min-width: 160px;
  padding: 5px 0;
  margin: 0px;
  list-style: none;
  font-size: 14px;
  text-align: center;
  background-color: #222222;
  border: 0px solid #cccccc;
  
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu li{
	background: #222222; 
	
	color: #cccccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dropdown-menu ul{
	background-color: #222222;
}
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #cccccc;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #333333;

}
.dropdown-menu li:hover{
	background-color: #333333;
}
.dropdown-menu li > a:hover{
	color: #fff;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #000;
}


.open > .dropdown-menu {
  display: block;
}

footer{

  background: #222222; 
  color: #cccccc;
  padding: 1px 0px;
  width: 100%;
  text-align: center;
  bottom: 100%;
  min-width: 160px;
  margin: 0px;
  list-style: none;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 200px;
}

footer ul{
  padding-left: 0px;
}

footer li{
  list-style: none;
  background: #222222; 
  
  color: #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer a{
  color: #cccccc;
  text-decoration: none;
}
footer a:hover{
  color: #fff;
}
footer li:hover{
  background-color: #333333;
}
footer li > a:hover{
  color: #fff;
}

@media (min-device-width : 480px){
  .dropdown ul li{
  display: inline-block;
  }
  }


@media (min-device-width : 480px){
  .jumbotron p{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }
  }

@media (min-device-width : 480px){
  .jumbotron h1{
    font-size: 48px;
    font-weight: 400;
  }
  }

@media (min-device-width : 480px){
  .jumbotron h2{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  }

@media (min-device-width : 480px){
  .dropdown{
    font-size: 16px;
  }
}
@media (min-device-width : 480px){
  .dropdown button{
    display: none;
  }
  }

@media (min-device-width : 480px){
  .dropdown ul{
    display: block;
  }
  }

@media (min-device-width : 480px){
  .dropdown li{
    border-radius: 5px;
  }
  }

@media (min-device-width : 480px){
  footer ul li{
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  }
  }

@media (min-device-width : 480px){
  footer ul{
    display: block;
    padding: 0px;
  }
  }

@media (min-device-width : 480px){
  .percent{
  display: inline-block;
  width: 33%;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}
}

@media (min-device-width : 480px){
  #OPINION .fav p{
  width: 70%;
  padding-left: 300px;
  margin-top: -150px;
  margin-left: 0px;
  margin-right: auto;
}
}

@media (min-device-width : 480px){
  #OPINION .fav img{
  margin-left: 0px;
  margin-right: auto;
}
}

@media (min-device-width : 480px){
  #OPINION .con p{
  width: 70%;
  min-width: 600px;
  margin-top: -150px;
  margin-left: 0px;
  margin-right: auto;
}
}

@media (min-device-width : 480px){
  #OPINION .con img{
  margin-right: 0px;
  margin-left: auto;
}
}

@media (min-device-width : 480px){
  #OPINION .con .sign{
  margin-right: 0px;
  margin-left: auto;
  padding-right: 300px;
}
}
/*ID's*/
#DOCS
#LEY
#PROYECTO
#OPINION
#DOC1{
  float: left;
}
#DOC2{
  float: right;
}
#LEY h4{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*media queries*/

